body{
    border:3px solid darkgray;
    width:75%;
    margin:auto;
    margin-top:50px;
    min-height:600px;
    padding:20px;
}
h1{
    font: 40px Arial,Sans-serif ;
    font-weight: 800;
    color:red;
    text-decoration: underline yellow;
}
p{
    font: 32px Arial,Sans-serif ;
    font-weight: 400;
    color:red;
    line-height:1.8;

}
.left{
    width:40%;
    margin:10px;
    float:left;
    display: inline-block;
}
.right{
    width:40%;
    margin:10px;
    float:right;
    display:inline-block;
}
.nxt {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.prv{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
#demo{
    position:absolute;
    top:10px;
    right:10px;
    background-color: red;
    color:white;
    font: 32pt Arial,Sans-serif ;
    padding:5px;
}
a{
    font: 32px Arial,Sans-serif ;
    font-weight: 400;
    color:red;
    line-height:1.8;
    text-decoration:none;
}
a:hover{
    background-color:yellow;
    padding:20px;
}
